:coffeescript
  COVID_SYMPTOMS = ["sore throat", "congestion", "diahhrea", "trouble breathing"]
  SYMPTOMS_STR_1 = "Symptoms: Sore throat, red eyes   ,CONGESTION"
  SYMPTOMS_STR_2 = "Symptoms: Sore throat, Diahhrea, red eyes   ,CONGESTION   ,   trouble breathing, diZZIness"
  SYMPTOMS_ARR_1 = ["sore throat", "diarrhea", "vertigo", "warts", "pale skin", "trouble breathing", "shortness of breath", "high blood pressure"]
  
  # MAIN FUNCTION
  $ ->
    alertify.set('notifier','position', 'top-left')
    
    
    response1 = problem1(SYMPTOMS_STR_2)
    $('#response').html(response1)
    
    problem2(SYMPTOMS_ARR_1)

    problem3()

  problem1 = (symptoms_string)->
    symptoms_array_raw = symptoms_string.split(":")[1].split(",")
    symptoms_array = symptoms_array_raw.map((str) -> str.trim().toLowerCase())
                        .filter((str) -> COVID_SYMPTOMS.includes(str))
                        .join(";")
    return symptoms_array
  

  problem2 = (symptoms_arr)->
    getClass = (symptom) -> if COVID_SYMPTOMS.includes(symptom) then "covid" else "" 
    leftSelector = $("#problem-2  ol.left")
    rightSelector = $("#problem-2 ol.right")

    li = symptoms_arr.map((symptom) -> createLiString(symptom, getClass(symptom))).join("")
    rightSelector.html(li)
    leftSelector.closest(".column").remove()
    
  problem3 = ()->
    API_KEY = "" 
    leftSelector = $("#problem-3  ol.left")
    rightSelector = $("#problem-3 ol.right")
    
    $.get("/api/covid_locations", (coordRaw) -> 
      coordinates = coordRaw.map((coord) -> coord.slice(1))
                        .map((coord) -> coord.split(",").splice(0,2).join())

      coordinates.forEach((coord) -> 
        $.get("https://maps.googleapis.com/maps/api/geocode/json?latlng=\#{coord}&key=\#{API_KEY}", (json) -> 
          formattedAddress = json.results[0]['formatted_address']
          leftSelector.append(createLiString(coord))
          rightSelector.append(createLiString(formattedAddress))
        )
      )
    )
  
  createLiString = (str, className="") ->
    return "<li class=\"\#{className}\">\#{str}</li>"
  
/ HTML/CSS CODE - DO NOT MODIFY ANYTHING UNDER THIS LINE  
  
:scss
  .panel{
    margin-top: 60px;
  }
  
  .covid{
    font-weight: bold;
    color: blue;
  }

.ui.centered.grid
  .ten.wide.column
    .panel
      #problem-1
        %h1.ui.header.top.attached.blue String Manipulation
        .ui.segment.stacked.attached
          %p#response TODO
      
      %br 
      
      #problem-2
        %h1.ui.header.top.attached.blue Programmatic DOM
        .ui.segment.stacked.attached
          .ui.two.column.stackable.grid.container
            .column
              .ui.header LEFT LIST
              %ol.ui.list.ordered.left
            .column
              .ui.header RIGHT LIST
              %ol.ui.list.ordered.right
      
      %br 
      
      #problem-3
        %h1.ui.header.top.attached.blue Location Resolver
        .ui.segment.stacked.attached
          .ui.two.column.stackable.grid.container
            .column
              .ui.header COVID LOCATIONS
              %ol.ui.list.ordered.left#covid-locations
              / PROGRAMMATIVALLY ADD KNOWN COVID GPS LOCATIONS TO LIST  
            .column
              .ui.header RESOLVED LOCATIONS
              %ol.ui.list.ordered.right#resolved-locations
              / PROGRAMMATIVALLY RESOLVE COVID GPS LOCATIONS TO FORMATTED ADDRESSES
            
          

